@model Perusedit.Models.Subject
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
}

@*@section scripts 
    {
    <script type="text/javascript">
        function functieAdaugare(id)
        {
            if (document.getElementById("iddiv"))
                document.getElementById("iddiv").remove();
            var i =
            `<div id="iddiv">
                <form method="post" action="/Response/Create">
                    <input type="hidden" name="SubjectId" value="@Model.Id" />
                    <input type="hidden" name="FatherId" value="${id}" />
                    <input type="text" name="Text" />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>`
            var w = document.createRange().createContextualFragment(i)
            if (id) {
                var q = document.getElementById(id);
                //console.log(document.getElementById(id))
                q.appendChild(w)
            }
            else
            {
                var q = document.getElementById("ceva")
                q.appendChild(w)
            }
        }

        function functieEditare(id, text)
        {
            //console.log(text);
            //console.log(id);
            var i =
            `<div class="clsdiv" id="t${text}">
                <form method="post" action="/Response/Edit/${id}">
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    <input type="text" value="${text}" name="Text"/>
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-danger" onclick="location.reload()">Cancel</button>
                </form>
            </div>`
            var w = document.createRange().createContextualFragment(i)
            var q = document.getElementById(id);
            //console.log(q.children[0].children[0]);
            q.children[0].children[0].remove();
            q = q.children[0];
            var s = q.children[0];
            q.insertBefore(w, s);
        }


    </script>
    }*@

    @helper Afisare(Perusedit.Models.Response r)
    {
        <div id="@r.Id" class="panel panel-default" style="width:97%;margin-left:2.5%">
            <div class="panel-body">
                <p>@r.Text</p>
                <div style="display:inline-block; float:right">
                    <button type="button" onclick="location.href='/Response/New/@r.Id'" class="btn btn-primary" style="padding:5px 5px 0px 5px">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                </div>
                @if (r.UserId == System.Web.HttpContext.Current.User.Identity.GetUserId() || System.Web.HttpContext.Current.User.IsInRole("Admin") || System.Web.HttpContext.Current.User.IsInRole("Moderator"))
                {
                    <div style="display:inline-block; float:right; margin-right:7.5px">
                        <form action="/Response/Delete/@r.Id" method="post">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="button" onclick="this.parentNode.submit()" class="btn btn-danger" style="padding:5px 5px 0px 5px">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                </svg>
                            </button>
                        </form>
                    </div>
                }
                @if (r.UserId == System.Web.HttpContext.Current.User.Identity.GetUserId())
                {
                    <div style="display:inline-block; float:right; margin-right:7.5px">
                        <button type="button" onclick="location.href='/Response/Edit/@r.Id'" class="btn btn-warning" style="padding:5px 5px 0px 5px">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </button>
                    </div>
                }
            </div>
            @foreach (var i in r.Responses)
            {
                @Afisare(i)
            }
        </div>
    }

    <h2>Details</h2>

    <div>
        @ViewBag.msg
        <br />
        <br />
    </div>

    <div>
        <h4>Subject</h4>
        <hr />

        <div class="panel panel-default" style="width:100%">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title</h3>
            </div>
            <div id="ceva" class="panel-body">
                <p>@Model.Text</p>
                <div style="display:inline-block; float:right">
                    <button type="button" onclick="location.href='/Response/NewNull/@Model.Id'" class="btn btn-primary" style="padding:5px 5px 0px 5px">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                </div>
            </div>
            @foreach (var i in Model.Responses)
            {
                if (i.FatherId == null)
                {
                    @Afisare(i);
                }
            }
        </div>

        <div>
            <a href="/Category/Index/@Model.CategoryId">Back to Subjects</a>
        </div>
    </div>
