@model Perusedit.Models.Subject
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



<form method="post" action="/Subject/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-horizontal">
        <h4>Subject</h4>
        <hr />

        @if (Model.UserId == System.Web.HttpContext.Current.User.Identity.GetUserId() && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if ((System.Web.HttpContext.Current.User.IsInRole("Admin") || System.Web.HttpContext.Current.User.IsInRole("Moderator")) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <select class="form-control" id="CategoryId" name="CategoryId">
                @foreach (var i in ViewBag.Categories)
                {
                    if (Model.CategoryId == i.Id)
                    {
                        <option value="@i.Id" selected>@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                }
            </select>
            <br />
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/Category/Index/@Model.CategoryId">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
